<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/XML/1998/namespace">
<head>
    <meta charset="UTF-8">
    <title>NewPerson</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="person">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </br>
    <label for="lastName">lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
    </br>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>

    <input type="submit" value="Создать Человека">
</form>
</body>
</html>